<div>
  <div class="toolbar">
    <div class="sectionBar">
      <fa-icon [icon]="faBars" class="sectionMenu"></fa-icon>
      <div class="sections">SECTIONS</div>
      <fa-icon [icon]="faCloudSun" class="sectionItems"></fa-icon>
      <fa-icon [icon]="faSearch" class="sectionItems"></fa-icon>
    </div>
    <div class="siteTitle">NewsProject</div>
    <div class="signinBar">
      <div class="signBox">
        <div> SIGN IN</div>
      </div>
      <fa-icon [icon]="faUser" class="signIcon"></fa-icon>
    </div>
  </div>
  <div class="toolbarCategories">
    <div class="captive selected">Home</div>
    <div class="captive head-categories">Sports</div>
    <div class="captive head-categories">Politics</div>
    <div class="captive head-categories">Economy</div>
    <div class="captive head-categories">Local News</div>
    <div class="captive head-categories">Coronavirus</div>
  </div>
</div>

<div class="content">
  <section class="first">
    <div class="latest">
      <div class="secondary-0">
        <div class="title-space">
          <h4 class="news-title captive">Latest</h4>
        </div>
        <div class="infoStyle">
          <div class="shortcut">
            <h2>Coronavirus live updates: Here’s what to know in North Carolina on Nov. 3</h2>
            <div>Updated November 03, 2020 01:21 PM</div>
          </div>
          <div class="shortcut">
            <h2>Live updates: Cooper reelected, Trump and Tillis lead</h2>
            <div>Updated 6 hours 34 minutes ago</div>
          </div>
          <div class="shortcut">
            <h2>Presidency hinges on tight races in battleground states</h2>
            <div>November 04, 2020 5:58 AM</div>
          </div>
          <div class="shortcut">
            <h2>Deborah Ross wins in Wake County as Democrats pick up 2 congressional seats</h2>
            <div>Updated 6 hours 10 minutes ago</div>
          </div>
          <div class="shortcut">
            <h2>Who won the Wake County commissioners races?</h2>
            <div>Updated 7 hours 49 minutes ago</div>
          </div>
        </div>
      </div>
      <h4 class="captive infoStyle more-in">More in Latest</h4>
    </div>

    <div class="listedSections">
      <div class="secondary-1 main">
        <img width="750px" src="https://raw.githubusercontent.com/alexErm0/front-news/main/src/assets/inBlack.jpg" alt="At least 6 arrested as black-clad protesters march in Raleigh" class="main-pic">
        <div class="infoStyle">
          <div class="articleCategory captive">Local</div>
          <div class="shortcut">
            <h2>At least 6 arrested as black-clad protesters march in Raleigh</h2>
            <h3>The group marched around the Capitol trailed by police, and began to disperse after arrests began.</h3>
            <div>Updated 3 hours 8 minutes ago</div>
          </div>
        </div>
      </div>

      <div class="sec-in-row">
        <div class="secondary-2">
          <img width="300px" src="https://raw.githubusercontent.com/alexErm0/front-news/main/src/assets/judge.jpg" alt="At least 6 arrested as black-clad protesters march in Raleigh" class="main-pic">
          <div class="infoStyle">
            <div class="articleCategory captive">Business</div>
            <div class="shortcut">
              <h2>Judge rules against SAS’ claim that a British startup illegally cloned its software.</h2>
              <div>November 07, 2020 8:00 AM</div>
            </div>
          </div>
        </div>
      
        <div class="secondary-3">
          <img width="300px" src="https://raw.githubusercontent.com/alexErm0/front-news/main/src/assets/food.jpg" alt="At least 6 arrested as black-clad protesters march in Raleigh" class="main-pic">
          <div class="infoStyle">
            <div class="articleCategory captive"> Food & Drink</div>
            <div class="shortcut">
              <h2>Turkey or glazed ham? Your guide to 40+ Triangle restaurants with Thanksgiving takeout</h2>
              <div>November 07, 2020 7:00 AM</div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="sec-in-row">
        <div class="secondary-2">
          <img width="300px" src="https://raw.githubusercontent.com/alexErm0/front-news/main/src/assets/pair.png" alt="At least 6 arrested as black-clad protesters march in Raleigh" class="main-pic">
          <div class="infoStyle">
            <div class="articleCategory captive">Elections</div>
            <div class="shortcut">
              <h2>Robinson makes history in lieutenant governor race. Other Council of State seats close.</h2>
              <div>Updated 22 minutes ago</div>
            </div>
          </div>
        </div>
      
        <div class="secondary-3">
          <img width="300px" src="https://raw.githubusercontent.com/alexErm0/front-news/main/src/assets/people.png" alt="At least 6 arrested as black-clad protesters march in Raleigh" class="main-pic">
          <div class="infoStyle">
            <div class="articleCategory captive">Elections</div>
            <div class="shortcut">
              <h2>Most Wake school board members hold off challengers, but one incumbent is defeated</h2>
              <div>Updated 9 hours 11 minutes ago</div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="sec-in-row">
        <div class="secondary-2">
          <img width="300px" src="https://raw.githubusercontent.com/alexErm0/front-news/main/src/assets/pair.png" alt="At least 6 arrested as black-clad protesters march in Raleigh" class="main-pic">
          <div class="infoStyle">
            <div class="articleCategory captive">Elections</div>
            <div class="shortcut">
              <h2>Robinson makes history in lieutenant governor race. Other Council of State seats close.</h2>
              <div>Updated 22 minutes ago</div>
            </div>
          </div>
        </div>
      
        <div class="secondary-3">
          <img width="300px" src="https://raw.githubusercontent.com/alexErm0/front-news/main/src/assets/people.png" alt="At least 6 arrested as black-clad protesters march in Raleigh" class="main-pic">
          <div class="infoStyle">
            <div class="articleCategory captive">Elections</div>
            <div class="shortcut">
              <h2>Most Wake school board members hold off challengers, but one incumbent is defeated</h2>
              <div>Updated 9 hours 11 minutes ago</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="second">
    <div class="sport">
      <div class="other">
        <div class="title-space">
          <h4 class="news-title captive">Sport</h4>
        </div>
        <div class="infoStyle">
          <div class="shortcut">
            <h2>Coronavirus live updates: Here’s what to know in North Carolina on Nov. 3</h2>
            <div>Updated November 03, 2020 01:21 PM</div>
          </div>
          <div class="shortcut">
            <h2>Live updates: Cooper reelected, Trump and Tillis lead</h2>
            <div>Updated 6 hours 34 minutes ago</div>
          </div>
          <div class="shortcut">
            <h2>Presidency hinges on tight races in battleground states</h2>
            <div>November 04, 2020 5:58 AM</div>
          </div>
          <div class="shortcut">
            <h2>Deborah Ross wins in Wake County as Democrats pick up 2 congressional seats</h2>
            <div>Updated 6 hours 10 minutes ago</div>
          </div>
          <div class="shortcut">
            <h2>Who won the Wake County commissioners races?</h2>
            <div>Updated 7 hours 49 minutes ago</div>
          </div>
        </div>
      </div>
      <h4 class="captive infoStyle more-in">More in Sport</h4>
    </div>

    <div class="economy">
      <div class="other">
        <div class="title-space">
          <h4 class="news-title captive">Economy</h4>
        </div>
        <div class="infoStyle">
          <div class="shortcut">
            <h2>Coronavirus live updates: Here’s what to know in North Carolina on Nov. 3</h2>
            <div>Updated November 03, 2020 01:21 PM</div>
          </div>
          <div class="shortcut">
            <h2>Live updates: Cooper reelected, Trump and Tillis lead</h2>
            <div>Updated 6 hours 34 minutes ago</div>
          </div>
          <div class="shortcut">
            <h2>Presidency hinges on tight races in battleground states</h2>
            <div>November 04, 2020 5:58 AM</div>
          </div>
          <div class="shortcut">
            <h2>Deborah Ross wins in Wake County as Democrats pick up 2 congressional seats</h2>
            <div>Updated 6 hours 10 minutes ago</div>
          </div>
          <div class="shortcut">
            <h2>Who won the Wake County commissioners races?</h2>
            <div>Updated 7 hours 49 minutes ago</div>
          </div>
        </div>
      </div>
      <h4 class="captive infoStyle more-in">More in Economy</h4>
    </div>

    <div class="ads"></div>
  </section>
</div>

<footer>
  <div class="footer-dark">
    <div class="bottomBlocks">
      <div class="footer-left">
        <div class="footer-info">
          <div class="footer-column">
            <h4>Take Us With You</h4>
            <h5>Real-time updates and all local stories you want right in the palm of your hand.</h5>
          </div>
        </div>
      </div>
      <div class="footer-about">
        <div class="footer-column">
          <h5 class="captive">Subscriptions</h5>
          <div class="links-in-footer">Start a Subscription</div>
          <div class="links-in-footer">Customer Service</div>
          <div class="links-in-footer">eEdition</div>
          <div class="links-in-footer">Vacation Hold</div>
          <div class="links-in-footer">Pay Your Bill</div>
        </div>
        <div class="footer-column">
          <h5 class="captive">Learn More</h5>
          <div class="links-in-footer">About Us</div>
          <div class="links-in-footer">Contact Us</div>
          <div class="links-in-footer">Newsletters</div>
          <div class="links-in-footer">News in Education</div>
          <div class="links-in-footer">Legal Notices</div>
          <div class="links-in-footer">Archives</div>
        </div>
        <div class="footer-column">
          <h5 class="captive">Advertising</h5>
          <div class="links-in-footer">Advertise With Us</div>
          <div class="links-in-footer">About Our Ads</div>
          <div class="links-in-footer">Place a Classfield</div>
        </div>
      </div>
    </div> 
  </div>

  <div class="footer-light">
    <h3 class="copyright captive">Copyright</h3>
    <h3 class="copyright captive">Commenting Policy</h3>
    <h3 class="copyright captive">Terms Of Use</h3>
    <h3 class="copyright captive">Privacy Policy</h3>
    <h3 class="copyright captive">Cookies</h3>
  </div>
</footer>