:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.sectionBar {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

.sectionMenu {
  padding: 0 0.7rem 0 1rem ;
  font-size: 1.2rem;
}

.sectionItems {
  padding: 0 0.5rem 0.1rem 1rem;
}

.siteTitle {
  font-size: 1.3rem;
  font-style: inherit;
}

.sections {
  font-size: 1.06rem;
}

.signinBar {
  display: flex;
  font-size: 1rem;
  align-items: center;
  color: white;
}

.signBox {
  background-color: #313131;
  padding: 0.4rem 1.2rem 0.5rem 1.2rem;
  border-radius: 3px;
}

.signIcon {
  padding: 1rem;
  font-size: 1.2rem;
  color: black;
}

.toolbarCategories {
  font-size: 0.85rem;
  align-items: center;
  display: flex;
  height: 45px;
  background-color: white;
  justify-content: center;
  
  -webkit-box-shadow: 0 5px 5px -5px #b8b8b8;
  -moz-box-shadow: 0 5px 5px -5px #b8b8b8;
  box-shadow: 0 5px 5px -5px #b8b8b8;
}

.captive {
  text-transform: uppercase;
}

.head-categories {
  margin: 0 0.1rem;
  padding: 0.5rem 1.2rem 1rem 1.2rem;
  border-bottom: 3px solid white;
  align-items: center;
  color: gray;
}

.head-categories:hover {
  color: black;
}

.title-space {
  display: flex;
  justify-content: center;
}

.news-title {
  background-color: #2f2f30;
  margin: 0;
  color: white;
  border: 2p solid;
  width: fit-content;
  padding: 5px 8px;
}

.selected {
  margin: 0 0.1rem;
  padding: 0.5rem 1.2rem 1rem 1.2rem;
  align-items: center;
  border-bottom: 3px solid black;
  color: black;
}

.toolbar {
  top: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  font-weight: 600;
}

.main-pic {
  display: flex;
  width: 100%;
}

.more-in {
  color: #6b6b6b
}

.content{
  width: 100%;
  margin: 25px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.first {
  width: 1200px;
  display: flex;
  justify-content: center;
}

.second {
  width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.sport, .economy, .ads {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  flex-basis: 420px;
  margin: 15px;

  -webkit-box-shadow: 0 -5px 5px -5px #b8b8b8, 0 5px 5px -5px #b8b8b8, 5px 0 5px -5px #b8b8b8, -5px 0 5px -5px #b8b8b8;
  -moz-box-shadow: 0 -5px 5px -5px #b8b8b8, 0 5px 5px -5px #b8b8b8, 5px 0 5px -5px #b8b8b8, -5px 0 5px -5px #b8b8b8;
  box-shadow: 0 -5px 5px -5px #b8b8b8, 0 5px 5px -5px #b8b8b8, 5px 0 5px -5px #b8b8b8, -5px 0 5px -5px #b8b8b8;
}

article {
  width: 100%;
}

.listedSections {
  display: flex;
  flex: 2 1 660px;
  justify-content: center;
  flex-direction: column-reverse;
}

.latest {
  align-self: flex-start;
  flex-basis: 420px;
}

.sec-in-row {
  display: flex;
  flex-direction: row;
}

.secondary-0 {
  order: 1;
}

.secondary-1 {
  order: 2;
}

.secondary-2 {
  order: 3;
}

.secondary-3 {
  order: 4;
}

.secondary-0, .secondary-1, .secondary-2, .secondary-3 {
  background-color: white;
  margin: 15px;
  -webkit-box-shadow: 0 -5px 5px -5px #b8b8b8, 0 5px 5px -5px #b8b8b8, 5px 0 5px -5px #b8b8b8, -5px 0 5px -5px #b8b8b8;
  -moz-box-shadow: 0 -5px 5px -5px #b8b8b8, 0 5px 5px -5px #b8b8b8, 5px 0 5px -5px #b8b8b8, -5px 0 5px -5px #b8b8b8;
  box-shadow: 0 -5px 5px -5px #b8b8b8, 0 5px 5px -5px #b8b8b8, 5px 0 5px -5px #b8b8b8, -5px 0 5px -5px #b8b8b8;
}

.main {
  flex-basis: 600px;
}

.infoStyle {
  margin-left: 15px;
}

.shortcut {
  padding: 0 15px 15px 0;
}

.secondary-2, .secondary-3 {
  display: flex;
  flex-direction: column;
  flex: 1 1 300px;
}

.articleCategory {
  margin-top: 15px;
  padding: 4px 8px;
  width: fit-content;
  border-radius: 2px;
  border: 1px solid black;
}

.footer-dark {
  background-color:#2f2f30;
  padding: 35px 100px 35px 80px;
  width: 100% - 180px;
  color: white;
}

.bottomBlocks {
  display: flex;
  justify-content: center;
}

.footer-about{
  display: flex;
  flex-grow: 3;
  justify-content: space-between;
}

.footer-left {
  flex-grow: 0;
  display: flex;
}

.footer-info {
  flex-basis: 350px;
  align-items: flex-start;
}

.footer-column {
  font-size: 1.1rem;
  flex-basis: 170px;
  margin: 15px;
}

.links-in-footer {
  padding: 5px 0 8px 0;
}

.footer-light {
  display: flex;
  justify-content: center;
}

.copyright {
  margin: 10px 15px;
}

@media screen and (max-width: 900px) {

  section {
    flex-direction: column;
  }

  .latest {
    order: 5;
  }

  .sections {
    font-size: 0;
  }

  .bottomBlocks {
    flex-direction: column;
  }
}

@media screen and (max-width: 680px) {
  .toolbarCategories {
    height: 0;
    border: none;
    font-size: 0;
  }

  .main {
    flex-basis: 400px;
  }

  .footer-dark {
    padding: 15px;
    width: 100% - 30px;
  }
}

@media screen and (max-width: 600px) {
  .sec-in-row {
    flex-direction: column;
  }

  .signBox, .sectionItems {
    padding: 0;
    font-size: 0;
  }

  .footer-about {
    flex-direction: column;
  }

  .footer-light {
    flex-direction: column;
    padding: 10px;
  }
}
